# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Internal
NODE_ENV=development
PORT=4000

# Stack URLs
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/ief_db
FRONTEND_URL=http://localhost:4173
SCRAPPER_SERVICE_URL=http://localhost:7000

# Api Keys
RESEND_KEY=secret

# Scaleway
SCW_ACCESS_KEY=secret
SCW_SECRET_KEY=secret
SCW_DEFAULT_ORGANIZATION_ID=secret
SCW_DEFAULT_PROJECT_ID=secret
SCW_OBJECT_STORAGE_ENDPOINT=secret
SCW_OBJECT_STORAGE_REGION=secret
SCW_OBJECT_STORAGE_BUCKET_NAME=secret
